*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1em;
}

.title {
  text-align: center;

  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.flow-step {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
}

.text-label {
  text-align: center;
}

.text-textarea {
  resize: none;
}

.handled-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid darkgray;
  margin: 0 auto;
  padding: 0 1em;
}

.checkbox {
  margin-bottom: 1em;
}

.button {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 7px 16px;

  margin-bottom: 1em;
  transition: background-color .2s linear, 
    color .2s linear;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.day-fieldset {
  margin-bottom: 1em;
}

.result-text {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 1em;

  margin: 0 auto;
}